

<span>{{dashboardCtrl.Title}}</span>



<form name="form">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <h2><span class="size">{{dashboardCtrl.word}}</span></h2>
            </div>
            <div class="col-md-2"></div>
            
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">               
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Letter</span>
                            <input type="text" ng-maxlength="1" ng-model="dashboardCtrl.suffix" ng-pattern="/^[a-zA-Z]*$/" required />
                            <input type="button" class="btn btn-info" value="Guess Letter" ng-disabled="dashboardCtrl.suffix == undefined || dashboardCtrl.suffix === ''" ng-click="dashboardCtrl.testWS()" />
                            <input type="button" class="btn btn-success" value="New Game" ng-disabled="dashboardCtrl.suffix != undefined || dashboardCtrl.gameOver == false" ng-click="dashboardCtrl.newGame()" />
                        </div>

                    </div>      
                
            </div>
            <div class="col-md-2"></div>            
        </div>
        
            <div class="row">
                <div class="col-md-4">Player Score:<br />{{dashboardCtrl.humanScore}}</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">CPU Score:<br />{{dashboardCtrl.cpuScore}}</div>
            </div>
        </div>
</form>