<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="pageTitle as pageTitle">
<head>
    <meta charset="utf-8" />
    <title>Ghost Game</title>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script type="text/javascript" src="../app/main.component.js"></script>
    <script type="text/javascript" src="../app/index.component.js"></script>
    <script type="text/javascript" src="../app/dashboard.component.js"></script>

</head>
<body>
    {{pageCtrl.pageTitle}}
    <dashboard></dashboard>
</body>
</html>